body {
  font-family: $heading-font;
  color: $font-color;
  background: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

p, ul, a, li, span{
  font-family: $second-font;
}

a {
  color:$font-color;
}

.is-primary-color {
  color: $font-color;
}

.font-blog {
  font-family: $blog-font;
}

.is-bg-white {
  background: white;
}

//WP CUSTOM

.menu-item {
  display: inline-block;
}