
	//font-family
	$heading-font: 'Montserrat', sans-serif;
	$second-font: 'Open Sans', sans-serif;
	$blog-font: 'Amiri', serif;
	// $second-font: 'Dosis', sans-serif;

//color font
$font-color: #677897;
$background-color: #F8FAFD;
$white: #FFF;
$background-footer-copy: #E6EFFA;
$color-blog: rgba(0, 0, 0, .84);

//mkp font-size Blog
$p-blog: 21px;
$p-blog-mobile: 18px;
$h2-blog: 44px;
$h3-blog: 34px;